---
title: Projetos
subtitle: 

permalink: /projects/
redirect_from: /work/
---

{% assign products = site.products | sort: 'date' | reverse %}


<section class="block">
  <h1 class="block__title">Em produção</h1>

  {% for product in products %}
    {% if product.state == "inproduction" %}
        {% include components/product/item.html data=product %}
    {% endif %}
  {% endfor %}
</section>


<section class="block">
  <h1 class="block__title">Concluídos</h1>

  {% for product in products %}
    {% if product.state == "finished" %}
        {% include components/product/item.html data=product %}
    {% endif %}
  {% endfor %}
</section>

