@charset "UTF-8";

// -------------------------------------------------------
// Home card.
// -------------------------------------------------------

.home-card {
  position: relative;

  width: 160px;
  height: 320px;
}

.home-card__link {
  display: block;
}

// Diffuse drop shadow, not a basic drop shadow on the box.
// http://blog.invisionapp.com/how-to-make-the-perfect-diffused-drop-shadow/
//
// $1 =>
// Quick note about the box-shadow declaration:
// We use TWO shadows. The second one is tinted to reflect the image color.
// In order to do that, and because we don't have the box-shadow-color long-hand property,
// we need to use the inherited color behavior (like on border/outline/etc.).
// This means that we omit the second color from the declaration. The second shadow will
// then default to the block `color` rule value.
// In the implementation, each variant will apply the correct tint. See at the end of file.
.home-card__shadow {
  position: absolute;
  bottom: 2%;
  left: 10%;
  right: 10%;

  height: 85%;

  color: rgba(black, 0.25);
  box-shadow: 0 5px 40px rgba(black, 0.5), 0 5px 40px;  // See $1.
}

.home-card__image {
  position: absolute;

  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 2px;
}

.home-card__shadow,
.home-card__image {
  transition: all 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.home-card:hover .home-card__shadow {
  box-shadow: 0 5px 60px rgba($pxn-black, 0.5), 0 5px 60px; // See $1.
}

.home-card:hover .home-card__image {
  transform: translateY(-10px) scale(1.05, 1.05);
}

.home-card__text {
  @include font-title(false);

  position: absolute;
  bottom: 16px;
  left: 0;
  right: 8px;
  right: 0 \0; // IE9 hack.

  box-sizing: border-box;
  padding-left: 8px;

  color: white;
  background: rgba($pxn-black, 0.25); // IE9 hack (which does not support gradients).
  background: linear-gradient(to right, rgba($pxn-black, 0.5) 0%, rgba($pxn-black, 0) 100%);

  font-size: 2.0rem;
  font-weight: bold;

  text-align: left;
}

.home-card__text .home-card__text-above {
  display: block;

  margin-bottom: -10px;

  font-weight: normal;
}

// -------------------------------------------------------
// Implementations.
// -------------------------------------------------------

.home-card--red_alert {
  .home-card__image {
    background-image: url("/static/images/products/red_alert/card.jpg");
  }
}

.home-card--the-factory {
  .home-card__image {
    background-image: url("/static/images/products/the-factory/card.jpg");
  }
}

.home-card--picada {
  .home-card__image {
    background-image: url("/static/images/products/picada/card.jpg");
  }
}

.home-card--b4d-bombing-4-democracy {
  .home-card__image {
    background-image: url("/static/images/products/b4d-bombing-4-democracy/card.jpg");
  }
}

.home-card--presskit-html {
  .home-card__image {
    background-image: url("/static/images/products/presskit.html/card.jpg");
  }
}

.home-card--o-fim-do-capitalismo {
  .home-card__image {
    background-image: url("/static/images/products/o-fim-do-capitalismo/card.jpg");
  }
}

.home-card--nas-margens {
  .home-card__image {
    background-image: url("/static/images/products/nas-margens/card.jpg");
  }
}

// -------------------------------------------------------
// Responsive.
// -------------------------------------------------------

@media (max-height: 850px) {
  .home-card {
    width: 138px;
    height: 256px;
  }

  .home-card__text {
    font-size: 1.8rem;
  }
}

@media (min-height: $vp-large) {
  .home-card {
    width: 172px;
    height: 400px;
  }

  .home-card__text {
    font-size: 2.2rem;
  }
}

@media (min-height: 1200px) {
  .home-card {
    width: 188px;
    height: 440px;
  }
}

@media (max-width: 500px) {
  .home-card {
    width: 200px;
    height: 200px;
  }
}
