@charset "UTF-8";

// -------------------------------------------------------
// Member.
// -------------------------------------------------------

.member {
  line-height: normal;

  text-align: center;

  a {
    @extend %link;
  }
}

.member__avatar {
  width: 216px;
  height: auto;
  margin-bottom: 24px;

  border-radius: 1000px;
}

.member__title {
  @include font-title;

  margin-bottom: 8px;

  font-size: 3.2rem;
}

.member__social {
  font-size: 1.8rem;
}

// -------------------------------------------------------
// Images.
// -------------------------------------------------------

.member__item {
  margin-bottom: 2px;
}

.member__item a {
  padding-left: 20px + 8px;

  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
}

.member__item--site a {
  background-image: url("/static/images/icons/member-site.svg");
}

.member__item--mastodon a {
  background-image: url("/static/images/icons/member-mastodon.svg");
}

.member__item--instagram a {
  padding-left: 24px;

  background-image: url("/static/images/icons/member-instagram.svg");
  background-position: left top;
}
